@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Automatización basado en MAGERIT v3 libro 2 <a href="https://pilar.ccn-cert.cni.es/index.php/docman/documentos/2-magerit-v3-libro-ii-catalogo-de-elementos/file" target="_blank">Guía y referencias</a>. Activos, Dimensión y valorización</p>
</div>

<div class="Imagenes">
    <img src="Imagenes/hw.png" alt="Imagen activo hardware" width="365" height="375" />
    <img src="Imagenes/[D, I, C].png" alt="Imagen Dimensiones [D, I, C]" width="365" height="375" />
    <img src="Imagenes/Valorización.png" alt="Imagen activo hardware" width="365" height="375" />
</div>
